<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./style.css">
	<title>Layout Component</title>
</head>

<body>
	<header class='layout'>
		<div class='logo'>
			dffdf
		</div>
		<div class='sections'>
			<div class='sections_main'>
				<h2 class='h2'>Home</h2>
				<h2 class='h2'>Movies</h2>
				<h2 class='h2'>Series</h2>
			</div>
			<div class='sections_field'>
				<div class='field_logo'>
				</div>
				<input class='field_input' type="text">
				<div class='sections_profile'>

				</div>
			</div>

		</div>
	</header>

</body>

</html>